

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 1rem auto;
  max-height: 200px;
}



.portfolio-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 115%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: 3rem auto;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 2.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-bottom: 3rem;

  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
    width: 100%;
    filter: blur(2px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(0, 186, 174, 0.801);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
    width: 100%;
  }
}
